<div class="col-12 d-flex">
<div class=" info-user">
        <div class="bg-white user-user">
          <div class="d-flex justify-content-center img-user">
            <span class="pic-user material-icons">
              account_circle
            </span>
          </div>
          <h5 class=" pl-1 pr-1 mb-0">
           <strong class="lbl-user">Nombre</strong>
            {{user.first_name}}
            {{user.last_name}}
          </h5>
          <p class="pl-1 pr-1 pb-1">
            <strong class="lbl-user">RFC:</strong>
            {{user.FederalTaxID}}
          </p>
        </div>
        <div class="p-3">
          <p class="pb-1 mb-0">
            <strong class="lbl-user">Username:</strong>
            {{user.username}}
          </p>
          <p class="pb-1 mb-0">
            <strong class="lbl-user">Email:</strong>
            {{user.email}}
          </p>
          <p class="pb-1 ">
            <strong class="lbl-user">Rol:</strong>
            {{user.rol}}
          </p>
          <p class="pb-3 border-bottom border-white">
            <strong class="lbl-user">Estatus:</strong>
            {{user.active == '1' ? 'Activo' : 'Inactivo'}}
          </p>
        </div>
      </div>
      <div class="card modules-user">
        <div class="card-header">
          <h5 class="card-title">
            Modulos
          </h5>
        </div>
        <div class="card-body">
          <div class=" d-flex flex-wrap card-body-wrapper">
            <div *ngFor="let item of modules" 
              class=" m-2   bg-white card-module">
              <h4 class="ml-1 mr-1 pt-2 pb-2 border-bottom">
                {{item.name}}
              </h4>
              <div class=" p-3">
                <p *ngFor="let action of item.actions" class="m-0">
                  {{action}}
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      </div>
