.modules-user,.info-user{
  min-width: 320px;
  min-height: 340px;
  margin: 1rem;
  background-color: #cdcdcd;
}
.user-user{
}
.lbl-user{
  width: 90px;
}

.pic-user{
  font-size: 5rem;
}

.card-module{
  min-width: 220px;
}
