<section class="main-content">
    <div class="col-12">
      <div class="header-content">
        <h5 class="pl-4">
          {{ cliente }}
        </h5>
        <div class="d-flex justify-content-end wrapper-header">
          <div class="cont-actions">            
          </div>
        </div>
      </div>
  
      <div class=" p-3 card">
        <app-filters-table
          (params_to_filter_emitter)="
            setParamToFilter($event)
          "
          (filter_emitter)="filter()"
          [filters_config]="filters_config"
        >
        </app-filters-table>
          <div class="wrapper-table">
          <table class="table">
            <thead>
              <tr>
                <th>&nbsp;</th>
                <th>Folio</th>
                <th>Fecha</th>
                <th>Articulo</th>
                <th>Línea</th>
                <th>Color</th>
                <th>Talla</th>
                <th>Marca</th>
                <th>Pendiente</th>
                <!--<th>Cliente</th>
                <th>Nombre</th>-->
                <th>Comentarios</th>
                <th>Destino</th>
              </tr>
            </thead>
            <tbody>
              <ng-container 
                *ngFor="let doc of all_docs;
                  let i = index; ">
                <tr >
                  <th>{{ i +1 }}</th>
                  <td>
                    {{ 
                      doc.DocNum
                    }}
                  </td>
                  <td>
                    {{ 
                      readDate(
                        doc.DocDate
                      )
                    }}
                  </td>
                  <td>{{ doc.ItemCode }}</td>
                  <td>{{ doc.ItmsGrpNam }}</td>
                  <td>{{ doc.Color }}</td>
                  <td>{{ doc.Talla }}</td>
                  <td>{{ doc.FirmName }}</td>
                  <td>{{ doc.Quantity }}</td>
                  <!--<td>{{ doc.CardCode }}</td>
                  <td>{{ doc.CardName }}</td>-->
                  <td>{{ doc.Comments }}</td>
                  <td>{{ doc.ShipToCode }}</td>
                </tr>
              </ng-container>
            </tbody>
          </table>
          </div>
          <div class="d-flex justify-content-center">
            <div class="d-flex align-items-center">
              <button
                #btn_prev
                (click)="handlePaginate(btn_prev)"
                data-target="prev"
                class="btn btn-sm btn-round"
                [disabled]="!prev_link"
                >
                Prev
              </button>
                <strong 
                  style="font-size: 1.35rem;font-weight: 400"
                  class="pl-3 pr-3"
                  >
                  {{ current_page + 1}}
                </strong>
              <button
                #btn_next
                (click)="handlePaginate(btn_next)"
                data-target="next"
                class="btn btn-sm btn-round "
                [disabled]="!next_link"
                >
                Next
              </button>
            </div>
          </div>
  
      </div>
    </div>
    <div
      *ngIf="is_loading"
      class="container-loader d-flex 
      justify-content-center align-items-center"
    >
      <app-loader [width]="'70'"></app-loader>
    </div>
  </section>
