.main-panel{
  min-height: 100vh;
}

.bg-primario1,.nav-link.active{
    background-color: #737277 !important;
}
.color-primario1{
    color: #737277 !important;
}
.color-primario2{
    color: #1C658C !important;
}
.color-primario3{
    color: #D8D2CB!important;
}
.bg-primario2{
    background-color: #1C658C !important;
}
.bg-primario3{
    background-color: #D8D2CB;
}

.toast-top-center{
  top: 20px;
    bottom: 0;
  margin: 0 auto;
  right: 0;
  left: 0;
  width: 100%;
}

.toast-success{
  background-color: #737277!important;
}

.container-loader{
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,.2);
  top: 0;
  left: 0;
  position:absolute;
}
.nav-link.active{
    color:white!important;
}
.nav-link.active i{
  color: white;
}
.tooltip-g{
  background-color: #4caf50;
  color:#fff !important;
}
.tooltip-r{
  background-color: #f44336;
  color:#fff !important;
  z-index: 15563434!important;
  position: relative!important;
}
.tooltip-gral{
  background-color: #737277;
  color:#fff !important;
}
.mat-dialog-container{
  padding: 0!important;
}




/*ICOMOON *********************************************
iconos de los productos            *********************/
@font-face {
    font-family: 'icomoon';
    src:  url('../fonts/icomoon.eot?vfscrd');
  src:  url('../fonts/icomoon.eot?vfscrd#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?vfscrd') format('truetype'),
    url('../fonts/icomoon.woff?vfscrd') format('woff'),
    url('../fonts/icomoon.svg?vfscrd#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }
  
  [class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .icon-camisa-cab-cort:before {
    content: "\e926";
  }
  .icon-camisa-cab-larg:before {
    content: "\e927";
  }
  .icon-camisa-dam-cort:before {
    content: "\e928";
  }
  .icon-camisa-dam-larg:before {
    content: "\e929";
  }
  .icon-6500C:before {
    content: "\e922";
  }
  .icon-6500CL:before {
    content: "\e923";
  }
  .icon-6500D:before {
    content: "\e924";
  }
  .icon-6500DL:before {
    content: "\e925";
  }
  .icon-7002U:before {
    content: "\e980";
  }
  .icon-7001U:before {
    content: "\e97f";
  }
  .icon-7000U:before {
    content: "\e97e";
  }
  .icon-5500C:before {
    content: "\e920";
  }
  .icon-5500D:before {
    content: "\e921";
  }
  .icon-4000B:before {
    content: "\e91a";
  }
  .icon-4000C:before {
    content: "\e91b";
  }
  .icon-4000CV:before {
    content: "\e91c";
  }
  .icon-4000D:before {
    content: "\e91d";
  }
  .icon-4000DV:before {
    content: "\e91e";
  }
  .icon-4000N:before {
    content: "\e91f";
  }
  .icon-950C:before {
    content: "\e915";
  }
  .icon-950CL:before {
    content: "\e916";
  }
  .icon-950D:before {
    content: "\e917";
  }
  .icon-950DL:before {
    content: "\e918";
  }
  .icon-950N:before {
    content: "\e919";
  }
  .icon-410N:before {
    content: "\e914";
  }
  .icon-410C:before {
    content: "\e913";
  }
  .icon-901C:before {
    content: "\e911";
  }
  .icon-901D:before {
    content: "\e912";
  }
  .icon-900C:before {
    content: "\e90f";
  }
  .icon-900D:before {
    content: "\e910";
  }
  .icon-700D:before {
    content: "\e90e";
  }
  .icon-700C:before {
    content: "\e90d";
  }
  .icon-playera:before {
    content: "\e908";
  }
  .icon-600DL:before {
    content: "\e90c";
  }
  .icon-600CL:before {
    content: "\e90b";
  }
  .icon-600C:before {
    content: "\e90a";
  }
  .icon-600D:before {
    content: "\e909";
  }
  .icon-playera-larga:before {
    content: "\e900";
  }
  .icon-pantalon:before {
    content: "\e901";
  }
  .icon-camiseta:before {
    content: "\e902";
  }
  .icon-icon-cubrebocas:before {
    content: "\e903";
  }
  .icon-mandil:before {
    content: "\e904";
   
  }
  .icon-otro:before {
    content: "\e905";
  
  }
  .icon-panialera:before {
    content: "\e906";
    
  }
  .icon-icon-bolsa:before {
    content: "\e907";
    
  }
  
