<section class="col-12 d-flex justify-content-center align-items-center  container bg-light cont">
	<div class="d-flex flex-column col-10">
		<h1 class='text-center'>
			<span class='d-flex justify-content-center'>
				<i class="material-icons error-label">
					search
				</i>
			<strong class='error-label'>
				Error 40</strong>
				<strong class='error-label'>4</strong>
			</span>
				<br>
			<span class='text'>
			Esta página no existe, o se encuentra temporalmente fuera de servicio.
			</span>
		</h1>
		<div class="text-center mt-5 pt-5">
		<button (click)="goHome()" class='btn  btn-primary p-3 btn-home'>
			<i class="material-icons">
				home
			</i>
			Regresar al inicio
		</button>
		</div>
	</div>
</section>
