.modules-user,.info-user{
  min-width: 220px;
  min-height: 280px;
  margin: 1rem;
  background-color: #cda;
}
.user-user{
  background-color: #eee;
}
.lbl-user{
  width: 90px;
}

.pic-user{
  font-size: 5rem;
}
