<section class=" main-content">
  <div class="col-12 col-xl-11 ml-auto 
    mr-auto mb-5 mt-0 p-3 ">
    <div *ngIf="user && action==='view'"
      class="col-12 d-flex " >
      <app-view 
        [user]="user"
        [modules]="modules"
        >
      </app-view>
      
    </div>
    
    <ng-container *ngIf="action==='edit' && user">
      <app-edit-create [user]="user">
      </app-edit-create>
    </ng-container>

    <ng-container *ngIf="action==='new'">
      <app-edit-create>
      </app-edit-create>
    </ng-container>

  </div>

  <div
    *ngIf="is_loading"
    class="container-loader d-flex 
    justify-content-center align-items-center"
  >
    <app-loader [width]="'70'"></app-loader>
  </div>

</section>
